
<footer class="text-center text-lg-start bg-light text-muted">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block">
      <span style="font-size: large;;">Nour Beyrem: Software Engineer</span>
    </div>



    <div>
      <a href="https://www.facebook.com/nour.beyrem.5" target="_blank" class="me-4 text-reset">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/nour-beyrem-61488a188/" target="_blank" class="me-4 text-reset">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>

      <a href="https://github.com/nour-beyrem" target="_blank" class="me-4 text-reset">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>

  </section>
</footer>

