

<h1 class="text-center"> what is Interner of things  <i class="fa fa-question-circle-o" aria-hidden="true"></i> </h1>

  <h2> What a better way to understand what technologies
    are using IoT </h2>
   <h2> than checking your home,where gradually new devices have  </h2> <h2> been entering houses to make life easier</h2>


<section id="exampliot">
  <h1 class="text-center"> Internet Of Things in Real Life <i class="fa fa-home" aria-hidden="true"></i> </h1>
  <div class="row " >

  <div class="flip-card card-deck" *ngFor="let ml of iots" >
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{{ml.path}}" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back" >
        <div class="card-body">
          <h5 class="card-title" style="color: brown; margin-bottom: 50px;margin-top: 20px; ">{{ml.name}}</h5>
          <p class="card-text">{{ml.description}}</p>

        </div>


      </div>
    </div>
  </div>
  </div>


  </section>


