
<h1 class="text-center"> what is Machine Learning <i class="fa fa-question-circle-o" aria-hidden="true"></i> </h1>
  <h2>We all know that Machine Learning in the form of AI technology is continuing to gain popularity in our lives. </h2>
 <h2> There are a lot of day-to-day scenarios that involve the use of ML in our lives; perhaps we do not pay attention to it: </h2>


<section id="exampleml">



  <h1 class="text-center"> Machine Learning in Real Life <i class="fa fa-leaf" aria-hidden="true"></i> </h1>
  <div class="row" >
   <div class="flip-card card-deck" *ngFor="let ml of mls" >
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ml.path}}" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back" >
          <div class="card-body">
            <h5 class="card-title">{{ml.name}}</h5>
            <p class="card-text">{{ml.description}}</p>

          </div>


        </div>
      </div>
    </div>
  </div>
  </section>




